APP_ENV=qa

VETIFY_INSTITUTIONAL_BASE_URL=https://qa.vetify.com.ar
VETIFY_WEBAPP_BASE_URL=https://vetify-qa.ikeapp.com
AUTH_API_BASE_URL=https://ike-webapp-staging.us.auth0.com

# Vetify Test Users
VETIFY_TEST_USER_WITH_PETS_EMAIL=
VETIFY_TEST_USER_WITH_PETS_PASSWORD=

# Required only when Salesforce validations are implemented/enabled.
SALESFORCE_BASE_URL=
SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
