APP_ENV=qa

VETIFY_INSTITUTIONAL_BASE_URL=https://qa.vetify.com.ar
VETIFY_WEBAPP_BASE_URL=https://vetify-qa.ikeapp.com

OSDE_CAPITADO_INSTITUTIONAL_BASE_URL=https://qa.vetify.com.ar/osde
OSDE_ADQUIRIENTE_INSTITUTIONAL_BASE_URL=https://qa.vetify.com.ar/mas-osde-beneficios
FLUX_CAPITADO_INSTITUTIONAL_BASE_URL=https://qa.vetify.com.ar/flux

AUTH_API_BASE_URL=https://ike-webapp-staging.us.auth0.com

# Required only when Salesforce validations are implemented/enabled.
SALESFORCE_BASE_URL=
SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
